:root {
  --color-background: #f4f6fa;
  --color-white: #fff;
  --color-primary: #4559f9;
  --color-text: #1d1d1f;
  --color-gray: #86868b;
  --color-gray-0: #eaeaea;
  --color-gray-1: #afadad;
  --color-gray-2: #565656;
  --color-blue-0: #e4f0ff;
  --color-blue-1: #add1ff;

  --color-modal: #000000e8;
}