.custom-select {
  display: flex;
  flex-direction: column-reverse;
  select {
    margin-right: 10px;
    padding: 8px 16px;
    outline: 0;
    border: 0;
    border-radius: 8px;
    background-color: var(--color-blue-0);
    color: var(--color-primary);
    font-weight: bold;
  }
  label {
    font-size: var(--font-sm);
    font-weight: bold;
    color: var(--color-gray-2);
    margin-bottom: 5px;
  }
}