.custom-select {
  display: flex;
  flex-direction: column-reverse;
  select {
    padding: 8px 16px;
    outline: 0;
    border: 0;
    border-radius: 8px;
    background-color: var(--color-gray-0);
    color: var(--color-text);
  }
  label {
    font-size: var(--font-sm);
    color: var(--color-gray-2);
    margin-bottom: 5px;
  }
}