.calendar {
  max-width: 450px;
  &__filter {
    display: flex;
    align-items: flex-end;
    .custom-select {
      margin-right: 15px;
    }
    button {
      margin-left: auto;
    }
  }
  &__content {
    &.empty {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      svg {
        width: 60px;
        fill: var(--color-gray-2);
      }
      p {
        color: var(--color-gray-2);
      }
    }
  }
  &__row {
    padding: 5px 0;
    display: flex;
    animation: fadeIn 0.3s ease-in;
  }
  &__row--days {
    margin-top: 30px;
  }
  &__date {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      font-weight: 600;
      color: var(--color-gray);
      outline: 0;
      border: 0;
      margin: 0;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 38px;
      width: 38px;
      border-radius: 50%;
    }
    &.active {
      button {
        color: var(--color-primary);
        background-color: var(--color-blue-0);
      }
    }
  }
  &__day {
    flex: 1;
    font-weight: 700;
    color: var(--color-gray);
    text-align: center;
  }
}