* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--color-text);
}

body, html {
  background-color: var(--color-background);
}

.base-layout {
  display: flex;
  &__content {
    flex: 1;
    padding: 30px;
    overflow: auto;
    height: 100vh;
  }
}